:root {
    --background-color: #ececec;
    --text-color: #333333;
    --nav-bg: #ffffff;
    --nav-text: #000000;
    --nav-shadow: rgba(0, 0, 0, 0.1);
    --hover-color: #424cff;
    --box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.563);
}

[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
    --nav-bg: #111827;
    --nav-text: #ffffff;
    --nav-shadow: rgba(255, 255, 255, 0.3);
    --hover-color: #ffffff;
    --box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.484);
}
[data-theme="blue"] {
    --background-color: #65ccff13;
    --text-color: #000000;
    --nav-bg: #00aaff4d;
    --nav-text: #ffffff;
    --nav-shadow: rgba(0, 0, 0, 0.384);
    --hover-color: #000000;
    --box-shadow: 0px 0px 8px rgba(54, 54, 54, 0.564);
}
#main{
    margin-top: 70px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 70px;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Text Section */
.text {
    max-width: 600px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #555;
}

/* Image Section */
.image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .content {
        flex-direction: row;
        text-align: left;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        max-width: 50%;
    }

    .image {
        max-width: 50%;
    }
}
.container1{
    max-width: 1200px;
   
    padding: 40px 20px;
    text-align: center;
    margin-top: 50px;
}

/* Header */
.header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Text Section */
.text {
    max-width: 600px;
}

.text ul {
    list-style: none;
    padding: 0;
}

.text li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.text i {
    color: black;
    margin-right: 10px;
}

/* Image Section */
.image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

/* Responsive Design */
@media (min-width: 768px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text {
        max-width: 50%;
    }

    .image {
        max-width: 50%;
    }
}

/* 
.f1 {
    height: 100%;
    width: 30vw;
    transition: transform 0.3s ease-in-out;
    background-color: green; 
}
.c1{
    height: 100%;
    width: 70%;
    transition: transform 0.3s ease-in-out;
    background-color: red; transform: translateX(-7vw);
    display: flex;
}
.f2 {
    height: 100%;
    width: 30vw;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(9, 0, 128); 
}
 .c2{
    height: 100%;
    width: 60vw;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(0, 255, 225); 
    transform: translateX(-7vw);
    display: flex;
   
}
.f3 {
    height: 100%;
    width: 60vw;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(251, 0, 255); 
}
.c3{
    height: 100%;
    width: 30vw;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(0, 255, 225); 
    transform: translateX(-7vw);
   
   
}


.f1:hover + .c1
 {
    transform: translateX(0%);
}
.f2:hover + .c2
 {
    transform: translateX(0%);
}
.f3:hover + .c3
 {
    transform: translateX(0%);
} */
#founder{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    
    }
    
.container12{
    width: 22vw;
   height: 90vh;
    padding-left: 0px ;
    padding-right: 40px;
    overflow: hidden;
    background: linear-gradient(to right, rgb(27, 26, 26) 10%, rgb(69, 69, 69) 50%, rgb(111, 111, 111) 90%);

    transition: width 0.9s ease-in-out;
    color: #ffffff;
}
 
#f1-img img{
    width: 35vw;
    height: 60vh;
    background-position: cover;
    margin-left: 15%;
  
}
#f2-img img{
    width: 25vw;
    height: 63vh;
    background-position: cover;
    margin-left: 25%;
  
}
#f3-img img{
    width: 29vw;
    height: 63vh;
    background-position: cover;
    margin-left: 25%;
  
}
#f1-txt{
    width: 39vw;
    height: 30vh;
    text-align:left;
    padding: 10px;
   color: #ffffff;
    
}
#f1-txt h1{
    margin-right: 100px;
   
    rotate: -90deg;
}
#f1-p{
   display: none;
   color: #ffffff;
}
.container12:hover{
    width: 39vw;
    
}
.container12:hover  #f1-txt #f1-p
{
    display: block;
}
.container12:hover  #f1-txt h1
{
    rotate: 0deg;
}
 
/* ======= RESPONSIVENESS ======= */

  .founder-res{
    height: 100vh;
    width: 100vw;
   
    display: none;
    
    
    
    }
    .container12-res{
        width: 100vw;
       height: 100vvh;
        padding-left: 20px ;
        padding-right: 20px;
        
        background: linear-gradient(to right, rgb(27, 26, 26) 10%, rgb(69, 69, 69) 50%, rgb(111, 111, 111) 90%);
  
        color: #ffffff;
    }  
    #f1-p-res{
       
        color: #ffffff;
     }
     
/* For mobile screens (width below 768px) */
@media screen and (max-width: 768px) {

   #founder{
    display: none;
   }
        
   .founder-res{
    display: block;

   }
   .container12-res{
  margin-top: 10px;
}  
}





